*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	/* background: #DC8665; */
	background-color: #4e54c8;
	background: linear-gradient(to left,#4e54c8, #4e54c8);
	width: 100%;
	color: #534666;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
.clear{
	clear: both;
	display: none;
}
a{
  text-decoration: none;
}
header{  
	font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  min-height: 100px;
  line-height: 100px;
}
header a {
  margin: 0 25px;
  padding: 10px;
  color: black;
}
hr{
  width: 90%;
  border: 2px solid black;
  margin: 0 auto;
}
h1{
  padding: 40px 0;
  text-align: center;
  font-weight: bolder;
}
header nav{
  float: right;
}

/* header{
	text-align: center;
	border-bottom: #fff solid 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
} */
#aboutUs{
  width: 60%;
  border-radius: 10px;
	background: #fff ;
	margin: 20px auto;
	box-shadow: -1px -1px 10px 2px #fff;
	position: relative;
  z-index: 3;
}
div{
    border : 1px solid #ddd ;
	border-radius: 8px;
	margin: 15px ;
	background-color:  rgba(78,84,200,.3); /* rgb(204, 166, 151);*/
}
aside.img{
  float: left;
  margin:15px 0 0 15px;
	height: 80px;
	background-color: none;
}
section img{
  width: 200px;
  display: block;
}

/* http://ianlunn.github.io/Hover/ */
.hvr-overline-from-center {
  transform: perspective(1px) translateZ(0);
  position: relative;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background:#4E54C8;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}




li{

	border-bottom: #fff solid 3px;
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 10px ;
	padding: 15px;
}
div p{


	/* padding: 10px; */

	border-radius: 8px;
	margin: 10px ;
	padding: 15px;


}
footer{
  text-align: center;
  padding:35px;
}


.circles-container{
	width: 100%;
	height: 200%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.circle{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color:rgba(255,255,255,0.5);
	animation-name: float;
	animation-duration:10s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	bottom: -150px;
}

.circle:first-child{
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0;
}

.circle:nth-child(2){
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 12s;
	animation-duration: 10s;
}

.circle:nth-child(3){
	left: 70%;
	width: 40px;
	height: 40px;
	animation-delay: 4s;
}

.circle:nth-child(4){
	left: 5%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 20s;
}

.circle:nth-child(5){
	left: 0%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 10s;
}

.circle:nth-child(6){
	left: 45%;
	width: 70px;
	height: 70px;
	animation-delay: 10s;
}

.circle:nth-child(7){
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 7s;
	animation-duration: 9s;
}

.circle:nth-child(8){
	left: 65%;
	width: 25px;
	height: 25px;
	animation-delay: 7s;
}

.circle:nth-child(9){
	left: 75%;
	width: 80px;
	height: 80px;
	animation-delay: 2s;
}

.circle:nth-child(10){
	left: 90%;
	width: 30px;
	height: 30px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes float{
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 0.8;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}


