*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/* background: #DC8665; */
	color: #534666;
	font-family: 'Lato', sans-serif;
	font-size: 18px;

	background-color: #4e54c8;
	background: linear-gradient(to left,#4e54c8, #4e54c8);
	width: 100%;
}
a{
	text-decoration: none;
	color: rgb(32, 28, 21);
}
#container{
	width: 60%;
	background: #fff ;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
	position: relative;
  z-index: 3;
}

header{
	text-align: center;
	border-bottom: #fff solid 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}

header h1{
	padding: 0;
	margin: 0;
}

header p{
	padding: 0;
	margin-top: 5px;
	color: rgb(24, 17, 7);
}

section{
	min-height: 400px;
}

footer{
	text-align: center;
}

input[type='submit']{
	/* text-align: center; */
	/* background: #DC8665; */
	background-color:  rgba(78,84,200,.3);
	border: 0;
	color: rgb(32, 28, 21);
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
}

#no-answers{
 color:red;
 font-size: 22px;
 font-weight: bold;
 background-color: none;
 margin: 0 50px ;
 display: none;
}

#results h3{
	background: #4e54c8;
	color: black;
	/* margin: 10px 0; */
}

#results span{
	color: #fff;
	font-weight: bold;
}

div {
	border : 1px solid #ddd ;
	border-radius: 8px;
	margin: 10px ;
	padding: 15px;
	/* background-color: rgb(204, 166, 151); */
	background-color:  rgba(78,84,200,.3);

}
input{
	margin: 10px 10px 10px 50px;
	/* display: block; */
}
h3{

	
	padding: 10px;

	border-radius: 8px;
	margin: 10px ;
	padding: 15px;


}
/* img{} */
 button#next-exam{

	background-color:  rgba(78,84,200,.3);
	border: 0;
	color: rgb(32, 28, 21);
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
	margin: 0 0 0 300px;
	display: none;

}


.circles-container{
	width: 100%;
	height: 200%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.circle{
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background-color:rgba(255,255,255,0.5);
	animation-name: float;
	animation-duration:10s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	bottom: -150px;
}

.circle:first-child{
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0;
}

.circle:nth-child(2){
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 12s;
	animation-duration: 10s;
}

.circle:nth-child(3){
	left: 70%;
	width: 40px;
	height: 40px;
	animation-delay: 4s;
}

.circle:nth-child(4){
	left: 5%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 20s;
}

.circle:nth-child(5){
	left: 0%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 10s;
}

.circle:nth-child(6){
	left: 45%;
	width: 70px;
	height: 70px;
	animation-delay: 10s;
}

.circle:nth-child(7){
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 7s;
	animation-duration: 9s;
}

.circle:nth-child(8){
	left: 65%;
	width: 25px;
	height: 25px;
	animation-delay: 7s;
}

.circle:nth-child(9){
	left: 75%;
	width: 80px;
	height: 80px;
	animation-delay: 2s;
}

.circle:nth-child(10){
	left: 90%;
	width: 30px;
	height: 30px;
	animation-delay: 0s;
	animation-duration: 11s;
}
@keyframes float{
	0%{
		transform: translateY(0) rotate(0deg);
		opacity: 0.8;
		border-radius: 0;
	}

	100%{
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}