*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.choice-container {
	display: flex;
	margin-bottom: 5px;
	width: 100%;
	border: 1px solid rgb(86, 165, 235, 0.25);
	background-color: white;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 5px 20px rgb(86, 185, 235);
	transition: .15s;
}

.choice-prefix {
	padding: 15px 20px;
	background-color: #56a5eb;
	color: white;
}

.choice-text {
	padding: 15px 20px;
	width: 100%;
}

.selectedChoice{
	background-color: rgba(86, 165, 235, .5);
	font-weight: bold;
}

.correct {
	background-color: #28a746a1;
}

.incorrect {
	background-color: #dc35469f;
}

body{
	color: #534666;
	font-family: 'Lato', sans-serif;
	background-color: #4e54c8;
	background: linear-gradient(to left, black, #4e54c8);
}
a{
	text-decoration: none;
	color: rgb(32, 28, 21);
}
#container{
	width: 60%;
	background: #ECF5FF ;
	margin: 20px auto;
	overflow: auto;
	padding: 25px;
	position: relative;
	z-index: 3;
	min-height: 100vh;
}

header{
	text-align: center;
	border-bottom: #fff solid 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-bottom: 20px;
}

header h1{
	padding: 0;
	margin: 0;
}

header p{
	padding: 0;
	margin-top: 5px;
	color: rgb(24, 17, 7);
}

section{
	min-height: 400px;
}

footer{
	text-align: center;
}

input[type='submit']{
	background-color:  #56a5eb;
	border: 0;
	color: rgb(32, 28, 21);
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
}

#no-answers{
	color:red;
	font-size: 22px;
	font-weight: bold;
	background-color: none;
	margin: 0 50px ;
	display: none;
}

#results h3{
	background: #4e54c8;
	color: black;
}

#results span{
	color: #fff;
	font-weight: bold;
}

input{
	margin: 10px 10px 10px 50px;
}

h3{	
	border-radius: 8px;
	margin: 10px ;
	padding: 15px;
}

button#next-exam{
	background-color:  #56a5eb;
	border: 0;
	color: rgb(32, 28, 21);
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 15px;
	cursor: pointer;
	margin: 0 0 0 300px;
	display: none;

}
