*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clear{
	clear: both;
}

body{
	color: #534666;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	background-color: #4e54c8;
	background: linear-gradient(to top, black, #4e54c8);
	width: 100%;
	height: auto;
}

#container{
	width: 60%;
	border-radius: 10px;
	background: #fff ;
	margin: 20px auto;
	box-shadow: -1px -1px 10px 2px #fff;
	position: relative;
	z-index: 3;	
	min-height: 100vh;
}
a{
	text-decoration: none;
}
header{  
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	min-height: 100px;
	line-height: 100px;
}
header a, footer a {
	margin: 0 25px;
	padding: 10px;
	color: black;
}

label{
	font-size: 25px;
	font-weight: bold;
	display: block;
}
#name{
	padding:10px;
	font-size: 20px;
}
#userName{
	cursor: pointer;
}
section span#warnning-message{
	color: red;
	font-weight: bold;
	font-size: 20px;
	display: none;
}





/* http://ianlunn.github.io/Hover/ */
.hvr-overline-from-center {
	transform: perspective(1px) translateZ(0);
	position: relative;
}
.hvr-overline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background:#4E54C8;
	height: 4px;
	transition-property: left, right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
	left: 0;
	right: 0;
}


hr{
	width: 90%;
	border: 2px solid black;
	margin: 0 auto;
}

header div{
	float: left;
	margin:15px 0 0 15px;
	height: 80px;
}
header nav{
	float: right;
}
h1{
	padding: 40px 0;
	text-align: center;
	font-weight: bolder;
}
p{
	padding:20px;
	font-size: 20px;
	text-align: justify;
	margin:0 30px;
}
section div{
	margin:25px;
	display: inline-block;
	text-align: center;
}
#exams{
	text-align: center;

}
section img{
	width: 250px;
	display: block;
}
#input-name, #warning-message, #welcome-message{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}
#warning-message{
	display: none;
	color: red;
	font-size: 20px;
	font-weight: bold;
}
#welcome-message{
	display: none;
	color: blue;
	font-size: 20px;
	font-weight: bold;
}
#exams{
	display: none;
}
button{
	border:0;
	padding: 15px;
	border-radius: 5px;
	margin: 20px;
}
button a{
	color: #DC8665;
	font-size: 18px;
	padding: 15px;
	font-weight: bold;
}

/* Grow Shadow */
.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
footer{
	text-align: center;
	padding:35px;
}

