*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clear{
  clear: both;
}

body{
	color: #534666;
	font-family: 'Lato', sans-serif;
	background-color: #ECF5FF;
}

#container{
	width: 60%;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	margin: 0 auto;
	overflow: auto;
	padding: 25px;
	position: relative;
	z-index: 3;
	min-height: 100vh;
}

a{
  text-decoration: none;
}
header{  
	font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  min-height: 100px;
  line-height: 100px;
}
header a, footer a {
  margin: 0 25px;
  padding: 10px;
  color: black;
}
/* http://ianlunn.github.io/Hover/ */
.hvr-overline-from-center {
  transform: perspective(1px) translateZ(0);
  position: relative;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background:#4E54C8;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}
hr{
  /* width: 90%; */
  border: 2px solid black;
  margin: 0 auto;
}
header div{
  float: left;
  margin:15px 0 0 15px;
  height: 80px;
}
main{
  min-height: 70vh;
}

header nav{
  float: right;
}
h1{
  padding: 40px 0;
  text-align: center;
  font-weight: bolder;
}
p{
  padding:20px;
  font-size: 20px;
  text-align: justify;
  margin:0 30px;
}
section div{
  margin:25px;
  display: inline-block;
  text-align: center;
  border: 1px solid black;
}
section img{
  width: 200px;
  /* margin-bottom : 20px; */
  /* border: 1px solid black; */
  display: block;
}

button{
  border:0;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
}
button a{
  color: #DC8665;
  font-size: 18px;
  padding: 15px;
}
/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



table{
  width: 90%;
  margin: 0px 40px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}
.first-rank{
  border:0;
  font-weight: bolder;
  color:#fff;
  background: linear-gradient(46deg, rgba(18, 18, 18, 0.01) 0%, rgba(18, 18, 18, 0.01) 50%,rgba(10, 10, 10, 0.01) 50%, rgba(10, 10, 10, 0.01) 100%),linear-gradient(338deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 50%,rgba(174, 174, 174, 0.03) 50%, rgba(174, 174, 174, 0.03) 100%),linear-gradient(26deg, rgba(180, 180, 180, 0.02) 0%, rgba(180, 180, 180, 0.02) 50%,rgba(191, 191, 191, 0.02) 50%, rgba(191, 191, 191, 0.02) 100%),linear-gradient(129deg, rgba(52, 52, 52, 0.03) 0%, rgba(52, 52, 52, 0.03) 50%,rgba(188, 188, 188, 0.03) 50%, rgba(188, 188, 188, 0.03) 100%),linear-gradient(86deg, rgba(234, 234, 234, 0.03) 0%, rgba(234, 234, 234, 0.03) 50%,rgba(100, 100, 100, 0.03) 50%, rgba(100, 100, 100, 0.03) 100%),linear-gradient(73deg, rgba(203, 203, 203, 0.02) 0%, rgba(203, 203, 203, 0.02) 50%,rgba(24, 24, 24, 0.02) 50%, rgba(24, 24, 24, 0.02) 100%),linear-gradient(90deg, rgb(237, 46, 8),rgb(209, 122, 57));
}
td{
  border-bottom: 1px solid #000;
  padding: 17px 0;
}

.first-rank1{
  margin: 0px 40px;
  width: 90%;
  color:#fff;
  background: linear-gradient(46deg, rgba(18, 18, 18, 0.01) 0%, rgba(18, 18, 18, 0.01) 50%,rgba(10, 10, 10, 0.01) 50%, rgba(10, 10, 10, 0.01) 100%),linear-gradient(338deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 50%,rgba(174, 174, 174, 0.03) 50%, rgba(174, 174, 174, 0.03) 100%),linear-gradient(26deg, rgba(180, 180, 180, 0.02) 0%, rgba(180, 180, 180, 0.02) 50%,rgba(191, 191, 191, 0.02) 50%, rgba(191, 191, 191, 0.02) 100%),linear-gradient(129deg, rgba(52, 52, 52, 0.03) 0%, rgba(52, 52, 52, 0.03) 50%,rgba(188, 188, 188, 0.03) 50%, rgba(188, 188, 188, 0.03) 100%),linear-gradient(86deg, rgba(234, 234, 234, 0.03) 0%, rgba(234, 234, 234, 0.03) 50%,rgba(100, 100, 100, 0.03) 50%, rgba(100, 100, 100, 0.03) 100%),linear-gradient(73deg, rgba(203, 203, 203, 0.02) 0%, rgba(203, 203, 203, 0.02) 50%,rgba(24, 24, 24, 0.02) 50%, rgba(24, 24, 24, 0.02) 100%),linear-gradient(90deg, rgb(237, 46, 8),rgb(209, 122, 57));
  padding: 25px ;
}
span:first-child{
  float: left;
}
span:last-child{
  float: right;
}


footer{
  text-align: center;
  padding: 15px;
}

